html {
  font-family: arial, sans-serif;

}

.card {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
  margin: 10px;
  border-radius: 20px
}

.table thead {
  font-weight: bold;
}

.table tbody td, .table tbody th {
  font-weight: normal;
}

.table td, .table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td, th {
  border: 1px solid #bdbdbd;
  text-align: center;
  padding: 16px;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  margin: 10px;
}

.mark {
  background-color: #eeeeee;
}

.blank {
  background-color: #bdbdbd;
}

.table tr:nth-child(even) {
  background-color: #dddddd;
}

.table-title {
  text-transform: uppercase;
  max-width: 122px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.form {
  margin: 20px auto;
  width: 20%;
  min-width: 510px;
}

.name {
  display: flex;
  margin-bottom: 10px;
}

.name label {
  padding: 8px;
  margin-right: 20px
}

.name input {
  flex: 1;
  padding: 8px;
}

.form button {
  width: 100%;
  padding: 8px;
  background-color: #fff;
  border: 2px solid #eeeeee;
}

.form button:hover {
  background-color: #fafafa;
  border: 2px solid #e0e0e0;
}

.form button:active {
  background-color: #f5f5f5;
  border: 2px solid #bdbdbd;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#numbers-drawn {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.number-drawn {
  background-color: #eeeeee;
  padding: 8px;
  border: 1px solid #BDBDBD;
  border-radius: 20px;
  width: 18px;
  height: 18px;
  margin: 4px;
  text-align: center;
}